{% extends 'base.html' %}
{% load static %}
    
{% block title %}
    {{movie.title}}
{% endblock title %}


{% block body %}
<div class="md:flex items-start justify-center py-12 2xl:px-20 md:px-6 px-4">
  
    <div class="xl:w-2/6 lg:w-2/5 w-80 md:block hidden">
      <img class="w-full" alt="{{ movie.title }}" src="{{ movie.poster_url }}" />
    </div>
    <div class="xl:w-2/5 md:w-1/2 lg:ml-8 md:ml-6 md:mt-0 mt-6">
      <div class="border-b border-gray-200 pb-6">
        <h1 class="text-xl md:text-3xl lg:text-5xl font-semibold lg:leading-11 leading-7 text-white mt-2 mb-7 border-b-4 border-red-500 pb-4">
            {{ movie.title }}
            <span class="text-lg md:text-2xl lg:text-3xl font-semibold lg:leading-6 leading-7 dark:text-white"> ({{ movie.release_date|date:"Y" }})</span>
        </h1>             
        <p class="xl:pr-48 text-3xl font-bold lg:leading-tight leading-normal text-white mt-7">Overview:</p>
        <p class="xl:pr-70 text-xl lg:leading-tight leading-normal text-white mt-3 mb-7">{{movie.overview}}</p>
        <div class="grid-cols-2 flex group justify-between mb-5">
            <div class="font-black flex flex-row items-center">
                <img src="{% static 'icon/imdb.png' %}" alt="IMDb Icon" class="w-10 h-8 mr-2">
                <span class="text-2xl flex gap-x-1 items-center text-yellow-600">
                    {{ movie.IMDB_rating }} / 10
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
            </div>
        </div> 
        <div class="py-4 border-b border-gray-200 flex items-center justify-between">
          <p class="text-2xl leading-4 font-bold text-white">Language</p>
          <p class="text-lg leading-none text-white mr-3">To be updated</p>
        </div>       
      <div class="py-4 border-b border-gray-200 flex items-center justify-between">
        <p class="text-2xl leading-4 font-bold text-white">Genre</p>
        <div class="flex items-center justify-center">
          <p class="text-sm leading-none text-white ml-3 mr-4">
            {% for genre in movie.genres.all %}
                <span class="text-lg leading-none text-white mr-3">
                    {{ genre.name }}{% if not forloop.last %} | {% endif %}
                </span>
            {% endfor %}
        </p>
      </div>
    </div>
      <div class="py-4 border-b border-gray-200 flex items-center justify-between">
        <p class="text-2xl leading-4 font-bold text-white">Running time</p>
        <p class="text-lg leading-none text-white mr-3">{{ movie.runtime }} mins</p>
      </div>
      <div>
        <div class="py-4 border-gray-200 flex items-center justify-between">
            <p class="text-2xl leading-4 font-bold text-white">Crews</p>
        </div>
        <div class="profile-container mt-1 flex items-center justify-between">
            <div class="profiles"style="position: relative; width: 90%; height: 50%;">
                <div class="cards" style="width: 100; height: auto; display: flex; justify-content: left; align-itmes: center; overflow: auto;
                            position: relative; scroll-behavior: smooth;">
                    <div id="director-profile" class=director-card>
                        {% if movie.director.profile_image %}
                            <img src="{{ movie.director.profile_image }}" alt="Director's Profile Image" class="image-card w-auto h-52 object-cover rounded-lg">
                        {% else %}
                            <img src="{% static 'icon/favicon.png' %}" alt="Default Icon" class="image-card w-auto h-52 object-cover rounded-lg">
                        {% endif %}                        <p class="bg-black font-bold text-white">{{ movie.director.name }}</p>
                        <p class="text-xs text-white">DIRECTOR</p>
                    </div>               
                {% for actor in movie.lead_actors.all  %}
                    <div id="actor-{{ actor.id }}" class="actor-card">
                        <img src="{{ actor.profile_image }}" alt="Profile Image" class="image-card w-auto h-52 object-cover rounded-lg">
                        <p class="bg-black font-bold text-white">{{ actor.name }}</p>
                        <p class="text-xs text-white">ACTOR</p>
                    </div>
                {% endfor %}
                <div>
            </div>
        </div>
      </div>
    </div>
    <p class="text-2xl border-t border-gray-200 leading-10 font-bold text-white">Trailer</p>
    <div class="py-4 flex items-center justify-between">
      <div class="text-lg  leading-none text-white mr-3">
          <iframe width="560" height="315" src="{{ movie.trailer_url }}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
</div>
  <script>
    let elements = document.querySelectorAll("[data-menu]");
for (let i = 0; i < elements.length; i++) {
  let main = elements[i];
  main.addEventListener("click", function () {
    let element = main.parentElement.parentElement;
    let andicators = main.querySelectorAll("svg");
    let child = element.querySelector("#sect");
    child.classList.toggle("hidden");
    andicators[0].classList.toggle("rotate-180");
  });
}
</script>
{% endblock body %}

    
    