{% load static %} 
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'icon/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    
    {% block head %}
      head hear
    {% endblock head %}
      
    <title>
    {% block title %}
        title
    {% endblock title %}
    </title>
</head>
<body>
    <header class="bg-black my-6">
      <div class="min-h-full">
        <nav class="bg-black-800">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
              <div class="flex items-center">
                
                <a href="/" class="text-white">
                  <img src="{% static 'icon/favicon.png' %}" alt="logo" class="h-12 w-12">
                </a>

                <div class="hidden md:block">
                  <div class="ml-10 flex items-baseline space-x-4">
                    <a
                      href="/"
                      class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
                      aria-current="page"
                      >Home</a
                    >
                    <a href="{% url 'collector:todaysPick' %}"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                    >Today's Pick</a
                    >
                    <a
                    href="{% url 'collector:about' %}"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                    >About</a
                   >
                  </div>
                </div>
              </div>
              
              {% block header %}
                
              {% endblock header %}
                
            </div>
        </nav>
      </div>
    </header>
      <hr>
    {% block body %}
        Base file in here
    {% endblock body %}
</body>
</html>