{% load static %} 
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'icon/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    
    {% block head %}
      <!-- Additional head content can go here -->
    {% endblock head %}
      
    <title>
    {% block title %}
        Default Title
    {% endblock title %}
    </title>
</head>
<body>
    <header class="bg-black my-6">
      <div class="min-h-full">
        <nav class="bg-black-800">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
              <div class="flex items-center">
                <a href="/" class="text-white">
                  <img src="{% static 'icon/favicon.png' %}" alt="logo" class="h-12 w-12">
                </a>
              </div>
              
              <!-- Mobile menu button -->
              <div class="md:hidden">
                <button @click="open = !open" class="text-gray-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
                  <span class="sr-only">Open main menu</span>
                  <!-- Icon for menu button -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                  </svg>
                </button>
              </div>
              
              <!-- Menu for larger screens -->
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Home</a>
                  <a href="{% url 'collector:todaysPick' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Today's Pick</a>
                  <a href="{% url 'collector:about' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">About</a>
                </div>
              </div>
              
              {% block header %}
                <!-- Additional header content can go here -->
              {% endblock header %}
                
            </div>
            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="md:hidden" x-show="open">
              <div class="px-2 pt-2 pb-3 space-y-1">
                <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Home</a>
                <a href="{% url 'collector:todaysPick' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Today's Pick</a>
                <a href="{% url 'collector:about' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">About</a>
              </div>
            </div>
        </nav>
      </div>
    </header>
      <hr>
    {% block body %}
        <!-- Base content goes here -->
    {% endblock body %}
</body>
</html>
